* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---------- CV ----------*/

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #a47673;
  background-image: linear-gradient(193deg, #ceaba8 30%, #a47673 30%);
  background-repeat: no-repeat;
}

.content {
  max-width: 660px;
  margin: 28px auto 0;
  background: #fff;
  box-shadow: 25px 35px 4px rgba(120, 80, 80, 0.6);
}

.header {
  padding-top: 40px;
  text-align: center;
}

h1 {
  font-size: 19px;
  font-weight: 700;
}

.contact {
  margin-top: 8px;
  font-size: 11px;
}

.wrap {
  padding: 28px 56px 4px;
}

h2 {
  font-size: 10px;
  font-weight: 700;
}

hr {
  margin-top: 8px;
  border: 1px solid black;
}

.job-title,
.education h3 {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 16px;
  font-size: 10px;
  font-weight: 700;
}

.job-title h3,
.job-title p {
  width: 49.7%;
  display: inline-block;
}

.job-title p {
  text-align: right;
}

.items {
  padding-left: 18px;
  margin-top: 16px;
  list-style-type: initial;
}

.items p {
  font-size: 10px;
  line-height: 1.4;
  text-align: justify;
}

.education-heading {
  margin-top: 16px;
}

.education h3 span {
  font-weight: normal;
}

.education h3 span i {
  font-style: italic;
}

/*---------- Menu ----------*/
header {
  height: 74px;
  font-size: 0;
  background: #3f5cca;
}

header > a,
nav li a {
  padding: 28px 30px;
}

header a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

header > a {
  margin-left: 60px;
}

header > a.active,
nav li a:hover {
  color: #040404;
  background: #fff;
}

nav {
  line-height: 74px;
}

nav,
nav li {
  display: inline-block;
}
